<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>川西凌平</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet"></link>
</head>
<body>
    <header class="header">
        <div class="logo">
            
        </div>
        <div class="headLnk">
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#works">Works</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="profile_img">
            <img th:src="@{/img/plofile/top_sample2.jpg}">
        </div>
        <div class="profile_info">
            <h1>Kawanishi Ryohei</h1>
            <p>職業</p>
            <p>所在地</p>
            <p>連絡先</p>
            <p>その他の情報</p>
        </div>
    </div>
</body>
</html>