<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プロフィール</title>
</head>
<body>
    <div class="container">
        <div class="profile-img">
            <img th:src="@{/img/profile.jpg}">
        </div>
        <div class="profile-info">
            <h1>Kawanishi Ryohei</h1>
            <p>職業</p>
            <p>所在地</p>
            <p>連絡先</p>
            <p>その他の情報</p>
        </div>
    </div>
</body>
</html>